$main-color: #232323;
body{
    background-color: $main-color;
    color: #fff;
    font-family: Fira Code;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.hamburger, .hamburger-navigation{
    display: none;
}
.logo .logo__svg{
    width: 90%;
    margin-left: 15px;
}
.logo-git{
    width: 21%;
    display: flex;
    justify-content: space-between;
}
.github-logo{
    width: 65px;
    margin-left: 20px;
    margin-top: 0px;
}
 .nav-list{
    max-width: 100%;
    list-style: none;
    display: flex;
    height: 80px;
    transform: translateY(-65px);
     &__element{
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
        font-size: 18px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
        border-right: none;
    }
    &__element--active{
        background-color: #fff;
        color: #232323;
    }
    &__element:nth-child(3){
        border-right: 3px solid #fff;
    }
    &__link{
        text-decoration: none;
        color: #fff;
    }
    &__element:hover{
        background-color: #ffffff;
        color: $main-color;
        .nav-list__link{
            color: $main-color;
        }

    }
}
.content{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
.content-games{
    display: none;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    opacity: 0;
}
#title-rock-paper-scissors{
    font-size: 35px;
    transform: translateY(10px);
}
.app{
    border: 7px solid #fff;
    height: 720px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    &__title{
        font-family: Fira Code;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 16px;
        letter-spacing: 0.5px;
        text-transform: uppercase;
    }
    &__text{
        transform: translateY(-60px);
    }
    &__button{
        border: none;
        width: 262px;
        height: 61px;
        background: #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-family: Fira Code;
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        color: $main-color;
    }
    &__button:hover{
        background-color: #c9c9c9;
        cursor: pointer;
    }
   &__view-code:hover{
       cursor: pointer;
   }
}
.app:nth-child(odd){
    height: 613px;
}
.app:nth-child(1){
    border-right: none;
}
.app:nth-child(3){
    border-left: none;
}
.title-info{
    font-size: 64px;
    transform: translateY(-100px);
    letter-spacing: 0.5px;
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    opacity: 0;
}
.container-info{
    border: #fff 7px solid;
    position: absolute;
    top: 50%;  
    left: 50%; 
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 500px;
    width: 1200px;
    &__logo{
        width: 30%;
        transform: translateY(-30px);
    }
    &__text{
        font-size: 24px;
        line-height: 44px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }
}
a{
    text-decoration: none;
    color: #232323;
}
@media only screen and (max-width: 1400px){
    #title-rock-paper-scissors{
        font-size: 25px;
        transform: translateY(10px);
    }
    .app{
        max-width: 380px;
        &__title{
            font-size: 44px;
            line-height: 16px;
            letter-spacing: 0.5px;
        }
        &__text{
            transform: translateY(-60px);
        }
        &__button{
            width: 202px;
            height: 51px;
            font-size: 18px;
            line-height: 16px;
            letter-spacing: 4.5px;
            text-transform: uppercase;
            color: $main-color;
        }
    }
}

@media only screen and (max-width: 850px){
    .hamburger{
        display: block;
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .nav-list{
        display: none;
    }
    .hamburger, .hamburger-navigation{
        transition: transform .2s .1s ease-in-out;
    }
    .hamburger--active{
     transform: translateX(-250px);
    }
    .hamburger__box{
        width: 35px;
        height: 24px;
        display: inline-block;
        position: relative;
    }
    @mixin hamburger-line{
        width: 100%;
        height: 3px;
        background-color: #fff;
        position: absolute;
    }
    
    .hamburger__inner{
        @include hamburger-line;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: background-color .3s .2s ease-in-out;
    }
    .hamburger__inner::before,
    .hamburger__inner::after{
        @include hamburger-line;
        content: '';
        left: 0;
        transition: transform .3s .2s ease-in-out;
    }
    .hamburger__inner::before{
        top: -10px;
    }
    .hamburger__inner::after{
        top: 10px;
    }
    .hamburger--active .hamburger__inner{
        background-color: transparent;
    }
    .hamburger--active .hamburger__inner::before{
        transform: translateY(10px) rotate(45deg);
    }
    .hamburger--active .hamburger__inner::after{
        transform: translateY(-10px) rotate(-45deg);
    }
    .hamburger-navigation{
        height: 100vh;
        width: 250px;
        background-color: #000;
        position: absolute;
        z-index: 100;
        top: 0;
        right: 0;
        transform: translateX(250px);
    }
    .hamburger-navigation--active{
        transform: translateX(0px);
        display: block;
    }
    .hamburger-list{
        list-style: none;
        margin-top: 50px;
        margin-left: 20px;
        &__item{
            margin-bottom: 20px;
            a{
                color: #fff;
                cursor: pointer;
            }
        }
    }
    .logo{
        width: 25%;
        height: auto;
    }
    #title-rock-paper-scissors{
        font-size: 19px;
        transform: translateY(10px);
    }
    .content{
        height: 100vh;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
    }
    .content-games{
        height: 100vh;
        max-width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        opacity: 0;
    }
    // .content-info{
    //     display: none;
    //     flex-direction: column;
    //     transform: translateY(140%);
    // }
    .app{
        margin-top: 10px;
        border: 7px solid #fff;
        height: 400px;
        min-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        &__title{
            font-size: 34px;
            line-height: 16px;
            letter-spacing: 0.5px;
        }
        &__text{
            transform: translateY(-60px);
            display: none;
        }
        &__button{
            width: 202px;
            height: 51px;
            font-size: 17px;
            line-height: 16px;
            letter-spacing: 3.5px;
            text-transform: uppercase;
            color: $main-color;
        }
        &__icon{
            width: 20%;
            transform: translateY(-10px);
        }
        .app__view-code{
            display: none;
        }
    }
    .app:nth-child(odd){
        height: 400px;
    }
    .app:nth-child(1){
        border: 7px solid #fff;
    }
    .app:nth-child(3){
        border: 7px solid #fff;
    }
}
@media only screen and (max-width: 1300px){
    .container-info{
        height: 500px;
        width: 900px;
        &__logo{
            width: 30%;
            transform: translateY(-30px);
        }
        &__text{
            font-size: 24px;
            line-height: 44px;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}
@media only screen and (max-width: 1050px){
    #title-rock-paper-scissors{
        font-size: 19px;
        transform: translateY(10px);
    }
    .app{
        max-width: 280px;
        &__title{
            font-size: 34px;
            line-height: 16px;
            letter-spacing: 0.5px;
        }
        &__text{
            transform: translateY(-60px);
        }
        &__button{
            width: 202px;
            height: 51px;
            font-size: 18px;
            line-height: 16px;
            letter-spacing: 4.5px;
            text-transform: uppercase;
            color: $main-color;
        }
    }
    .container-info{
        height: 500px;
        width: 500px;
    }
}
@media only screen and (max-width: 600px){
    .container-info{
        height: 500px;
        width: 300px;
        &__logo{
            width: 30%;
            transform: translateY(-30px);
        }
        &__text{
            font-size: 15px;
            line-height: 44px;
            text-align: center;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
    }
}