body {
  background-color: #232323;
  color: #fff;
  font-family: Fira Code;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo .logo__svg {
  width: 90%;
  margin-left: 15px;
}

.nav-list {
  max-width: 100%;
  list-style: none;
  display: flex;
  height: 80px;
  transform: translateY(-65px);
  position: absolute;
  top: 35px;
  right: 10px;
  z-index: 100;
}
.nav-list__element {
  border: 3px solid #FFFFFF;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  padding: 20px;
  font-size: 18px;
  line-height: 46px;
  text-align: center;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}
.nav-list__element:hover {
  background-color: #ffffff;
}
.nav-list__element:hover a:hover {
  color: #232323;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  transform: translateY(-150px);
}
.title__icon {
  width: 121px;
  height: 121px;
  transform: translateY(40px);
}
.title__text {
  font-family: Fira Code;
  font-style: normal;
  font-weight: normal;
  font-size: 64px;
  line-height: 60px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: -4px;
  text-transform: uppercase;
}

.app {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: wrap;
  transform: translateY(-110px);
}
.app__file {
  width: 550px;
  height: 700px;
  resize: none;
  font-style: normal;
  font-family: Fira Code;
  font-weight: 300;
  font-size: 18px;
  line-height: 16px;
  padding: 10px;
  background-color: #fff;
  color: #000;
}

.text-tools {
  border: 5px solid #fff;
  width: 320px;
  height: 400px;
  padding: 5px;
  margin-left: 100px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.text-tools__title {
  transform: translateY(-30px);
}
.text-tools__btn {
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.text-tools__file-name-input {
  margin-left: 10px;
  margin-top: 30px;
  height: 20px;
  border: none;
}
.text-tools__label-color {
  transform: translateY(5px);
}
.text-tools__color {
  margin-top: 20px;
  border: none;
  width: 70px;
  height: 40px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-family: Fira Code;
  font-weight: 600;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  transform: translateY(9.4px);
  color: #232323;
  cursor: pointer;
}

.btn-download {
  border: none;
  width: 182px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-family: Fira Code;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
  cursor: pointer;
}

.text-tools__btn:nth-child(2) {
  font-weight: 900;
}

.text-tools__btn:nth-child(3) {
  font-style: italic;
}

.text-tools__btn:nth-child(4) {
  text-decoration: underline;
}

.btn-pdf-submit,
.btn-pdf {
  margin-top: 20px;
  border: none;
  width: 202px;
  height: 41px;
  background: #FFFFFF;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-style: normal;
  font-family: Fira Code;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  letter-spacing: 2.5px;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
  cursor: pointer;
}

.btn-pdf-submit {
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(255, 255, 255);
  border: #232323 3px solid;
}

::-webkit-scrollbar-thumb:hover {
  background: #707070;
  cursor: pointer;
}

@media only screen and (max-width: 1180px) {
  .logo .logo__svg {
    width: 50%;
  }

  .app {
    align-items: center;
    flex-direction: column;
  }

  .text-tools {
    margin-left: 0px;
    margin-top: 50px;
  }
}
@media only screen and (max-width: 1180px) {
  .title {
    transform: translateY(-100px);
  }

  .logo .logo__svg {
    width: 50%;
    margin-left: 15px;
  }
}
@media only screen and (max-width: 750px) {
  .logo .logo__svg {
    display: none;
  }

  .title {
    transform: translateY(30px);
  }

  .app {
    transform: translateY(30px);
  }
}
@media only screen and (max-width: 600px) {
  .app__file {
    width: 400px;
  }
}/*# sourceMappingURL=style.css.map */