$main-color: #232323;
body{
    background-color: $main-color;
    color: #fff;
    font-family: Fira Code;
    // overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo .logo__svg{
    width: 90%;
    margin-left: 15px;
}
.nav-list{
    max-width: 100%;
    list-style: none;
    display: flex;
    height: 80px;
    transform: translateY(-65px);
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 100;
     &__element{
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
        font-size: 18px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__element:hover{
        background-color: #ffffff;
        a:hover{
            color: $main-color;
        }

    }
}
.content{
    min-width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -39%);
}
.title{
    display: flex;
    justify-content: center;
    margin: -150px 180px 0px 180px;
    &__icon{
        width: 121px;
        height: 121px;
    }
    &__text{
        font-family: Fira Code;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        line-height: 60px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -8px;
        text-transform: uppercase;
        margin-left: 20px;
    }
}
.app{
    display: flex;
    justify-content: center;
    .app-container{
        border: 7px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 1060px;
        height: 375px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    &__option{
        border: 7px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        width: 151px;
        height: 181px;
        margin-bottom: 90px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        .option__img{
            width: 96px;
            height: 130px;
        }
        .scissors{
            height: 161px;
            width: 90px;
        }
    }
    .btn{
        position: absolute;
        top: 480px;
        width: 155px;
        height: 50px;
        border: none;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-weight: 500;
        font-size: 18px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        cursor: pointer;
        top: 270px;
    }
    .btn:hover{
        background-color: #666666;
        color: #fff;
    }
}
.statistics{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    .summary{
        width: 674px;
        height: 324px;
        border: 7px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        text-align: center;
        margin-right: 60px;
        &__title{
            font-size: 36px;
            line-height: 16px;
            letter-spacing: -1.5px;
            text-transform: uppercase;
            font-weight: normal;
        }
        .selection{
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 16px;
            margin: 60px;
            letter-spacing: -1.5px;
            text-transform: uppercase;
        }
        &__game-winner{
            font-size: 24px;
            line-height: 6px;
            letter-spacing: 2.5px;
            text-transform: uppercase;
        }
    }
    .stats{ 
        width: 330px;
        height: 324px;
        border: 7px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        border-radius: 30px;
        text-align: center;
        &__title{
            font-size: 36px;
            line-height: 16px;
            letter-spacing: -1.5px;
            text-transform: uppercase;
            font-weight: normal;
        }
        .number{
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 46px;
            letter-spacing: -1.5px;
            text-transform: uppercase;
        }
    }
}
.taken{
    background-color: green;
}
a{
    text-decoration: none;
    color: #fff;
}
@media only screen and (max-width: 1525px){
    .logo .logo__svg{
        width: 50%;
    }
}
@media only screen and (max-width: 1250px){
    .logo .logo__svg{
        width: 30%;
    }
}
@media only screen and (max-width: 1140px){
    .logo .logo__svg{
        display: none;
    }
    .title{
        margin: -150px 180px 10px 180px;
        &__icon{
            margin-bottom: 20px;
        }
        &__text{
            font-size: 44px;
            letter-spacing: -4px;
        }
    }
}
@media only screen and (max-width: 1060px){
    .content{
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -39%);
    }
    .title{
        display: flex;
        justify-content: center;
        margin: -150px 180px 0px 180px;
        &__icon{
            width: 121px;
            height: 121px;
        }
        &__text{
            font-family: Fira Code;
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            line-height: 60px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -4px;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .app{
        display: flex;
        justify-content: center;
        .app-container{
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 760px;
        }
        &__option{
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 151px;
            height: 181px;
            margin-bottom: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .option__img{
                width: 96px;
                height: 130px;
            }
            .scissors{
                height: 161px;
                width: 90px;
            }
        }
        .btn{
            position: absolute;
            top: 480px;
            width: 155px;
            height: 50px;
            border: none;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 7.5px;
            text-transform: uppercase;
            cursor: pointer;
            top: 270px;
        }
        .btn:hover{
            background-color: #666666;
            color: #fff;
        }
    }
    .statistics{
        display: flex;
        justify-content: center;
        margin-top: 20px;
        .summary{
            width: 374px;
            height: 324px;
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            text-align: center;
            margin-right: 60px;
            &__title{
                font-size: 36px;
                line-height: 16px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .selection{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 16px;
                margin: 60px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
            }
            &__game-winner{
                font-size: 24px;
                line-height: 6px;
                letter-spacing: 2.5px;
                text-transform: uppercase;
            }
        }
        .stats{ 
            width: 330px;
            height: 324px;
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            text-align: center;
            &__title{
                font-size: 36px;
                line-height: 16px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .number{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 46px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
            }
        }
    }
}
@media only screen and (max-width: 780px){
    .content{
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
    .title{
        display: flex;
        justify-content: center;
        margin: -150px 180px 0px 180px;
        &__icon{
            width: 101px;
            height: 101px;
        }
        &__text{
            font-family: Fira Code;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 60px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -2px;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .app{
        display: flex;
        justify-content: center;
        .app-container{
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 460px;
        }
        &__option{
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 101px;
            height: 141px;
            margin-bottom: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .option__img{
                width: 46px;
                height: 60px;
            }
            .scissors{
                width: 46px;
                height: 70px;
            }
        }
        .btn{
            position: absolute;
            top: 480px;
            width: 155px;
            height: 50px;
            border: none;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 7.5px;
            text-transform: uppercase;
            cursor: pointer;
            top: 270px;
        }
        .btn:hover{
            background-color: #666666;
            color: #fff;
        }
    }
    .statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        .summary{
            width: 374px;
            height: 324px;
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            text-align: center;
            margin-right: 0px;
            &__title{
                font-size: 36px;
                line-height: 16px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .selection{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 16px;
                margin: 60px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
            }
            &__game-winner{
                font-size: 24px;
                line-height: 6px;
                letter-spacing: 2.5px;
                text-transform: uppercase;
            }
        }
        .stats{ 
            width: 330px;
            height: 324px;
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            text-align: center;
            margin-top: 20px;
            &__title{
                font-size: 36px;
                line-height: 16px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .number{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 46px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
            }
        }
    }
}
@media only screen and (max-width: 600px){
    .content{
        min-width: 100%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
    .title{
        display: flex;
        justify-content: center;
        margin: -150px 180px 0px 180px;
        &__icon{
            width: 71px;
            height: 71px;
            margin-top: 10px;
        }
        &__text{
            font-family: Fira Code;
            font-style: normal;
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -2px;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .app{
        display: flex;
        justify-content: center;
        .app-container{
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 460px;
        }
        &__option{
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            width: 101px;
            height: 141px;
            margin-bottom: 90px;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;
            .option__img{
                width: 46px;
                height: 60px;
            }
            .scissors{
                width: 46px;
                height: 70px;
            }
        }
        .btn{
            position: absolute;
            top: 480px;
            width: 155px;
            height: 50px;
            border: none;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-weight: 500;
            font-size: 18px;
            line-height: 16px;
            text-align: center;
            letter-spacing: 7.5px;
            text-transform: uppercase;
            cursor: pointer;
            top: 270px;
        }
        .btn:hover{
            background-color: #666666;
            color: #fff;
        }
    }
    .statistics{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-content: center;
        margin-top: 20px;
        .summary{
            width: 374px;
            height: 324px;
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            text-align: center;
            margin-right: 0px;
            &__title{
                font-size: 36px;
                line-height: 16px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .selection{
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 16px;
                margin: 60px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
            }
            &__game-winner{
                font-size: 24px;
                line-height: 6px;
                letter-spacing: 2.5px;
                text-transform: uppercase;
            }
        }
        .stats{ 
            width: 330px;
            height: 324px;
            border: 7px solid #FFFFFF;
            box-sizing: border-box;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 30px;
            text-align: center;
            margin-top: 20px;
            &__title{
                font-size: 36px;
                line-height: 16px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
                font-weight: normal;
            }
            .number{
                font-style: normal;
                font-weight: normal;
                font-size: 18px;
                line-height: 46px;
                letter-spacing: -1.5px;
                text-transform: uppercase;
            }
        }
    }
}