$main-color: #232323;
body{
    background-color: $main-color;
    color: #fff;
    font-family: Fira Code;
    // overflow: hidden;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255); 
    border: #232323 3px solid;
  }
  
::-webkit-scrollbar-thumb:hover {
    background: #707070;
    cursor: pointer;
}
.logo .logo__svg{
    width: 70%;
    margin-left: 15px;
}
.nav-list{
    max-width: 100%;
    list-style: none;
    display: flex;
    height: 80px;
    transform: translateY(-65px);
    position: absolute;
    top: 35px;
    right: 10px;
    z-index: 100;
    a{
        text-decoration: none;
        color: #fff;
    }
     &__element{
        border: 3px solid #FFFFFF;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding: 20px;
        font-size: 18px;
        line-height: 46px;
        text-align: center;
        letter-spacing: 0.5px;
        text-transform: uppercase;
        cursor: pointer;
    }
    &__element:hover{
        background-color: #ffffff;
        a:hover{
            color: $main-color;
        }

    }
}
.content{
    transform: translateY(-20%);
}
.title{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    transform: translateY(20px);
    &__img{
        width: 71px;
        height: 71px;
    }
    &__text{
        font-family: Fira Code;
        font-style: normal;
        font-weight: normal;
        font-size: 64px;
        display: flex;
        align-items: center;
        text-align: center;
        letter-spacing: -8px;
        text-transform: uppercase;
        margin-left: 20px;
    }
}
.app{
    margin: 0;
    height: 650px;
    max-width: 100%;
    background-color: #232323;
    border: 7px solid #fff;
    border-radius: 30px;
}
.dot{
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    border: none;
    background-color: #fff;
    cursor: pointer;
}
.dot:hover{
    background-color: rgb(107, 107, 107);
}
.game-panel{
    margin: 0;
    height: 90px;
    max-width: 100%;
    background-color: #232323;
    border: 7px solid #fff;
    border-radius: 30px;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    // position: relative;
    &__button{
        border: none;
        width: 202px;
        height: 41px;
        background: #FFFFFF;
        box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
        font-style: normal;
        font-family: Fira Code;
        font-weight: 600;
        font-size: 18px;
        line-height: 16px;
        letter-spacing: 7.5px;
        text-transform: uppercase;
        color: #232323;
        cursor: pointer;
    }
}
@media only screen and (max-width: 1180px){
    .logo .logo__svg{
        display: none;
    }
    .content{
        transform: translateY(2%);
    }
}
@media only screen and (max-width: 1180px){
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        transform: translateY(-20px);
        &__img{
            width: 71px;
            height: 71px;
        }
        &__text{
            font-family: Fira Code;
            font-style: normal;
            font-weight: normal;
            font-size: 34px;
            display: flex;
            align-items: center;
            text-align: center;
            letter-spacing: -2px;
            text-transform: uppercase;
            margin-left: 20px;
        }
    }
    .content{
        transform: translateY(10%);
    }
    .app{
        margin: 0;
        height: 650px;
        max-width: 100%;
        background-color: #232323;
        border: 7px solid #fff;
        border-radius: 30px;
    }
    .game-panel{
        margin: 0;
        height: auto;
        max-width: 100%;
        background-color: #232323;
        border: 7px solid #fff;
        border-radius: 30px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        &__button{
            border: none;
            width: 202px;
            height: 41px;
            background: #FFFFFF;
            box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
            font-style: normal;
            font-family: Fira Code;
            font-weight: 600;
            font-size: 18px;
            line-height: 16px;
            letter-spacing: 7.5px;
            text-transform: uppercase;
            color: #232323;
            cursor: pointer;
        }
        &__item{
            margin: 10px;
        }
    }
}